
<!-- <ul class="nav nav-tabs">
    <li 
        class="nav-item">
        <a 
            routerLink ="all" 
            class="nav-link" 
            routerLinkActive = "active">
            <b><h3>All India</h3></b> 
        </a>
    </li>
    <li 
        class="nav-item">
        <a 
            [routerLink] = "['states', stateCode]" 
            class="nav-link" 
            routerLinkActive = "active">
            <b><h3>States</h3></b> 
        </a>
    </li>
</ul> -->
<!-- <hr> -->
<!-- <br> -->
<router-outlet></router-outlet>