<h3>All India Status</h3>
<hr>
<!-- <br> -->
<app-summary [summaryObservable] = "countrySummary"></app-summary>  
<!-- <div [ngSwitch] ="consolidatedViewMode">
    <div *ngSwitchCase = "'india-total'">
        <div class="row">
            <div class="col-md-3">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Total</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.status.total }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
            <div class="col-md-3">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Active</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.status.active }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
            <div class="col-md-3">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Deceased</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.status.deceased }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
            <div class="col-md-3">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Recovered</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 
                            class="text-center" 
                            [ngStyle] = "{'color' : nationStatus?.status.recovered > 0 ? 'green' : 'black'}">
                            {{ nationStatus?.status.recovered }} ({{nationStatus?.status.recoveryRate | number : '1.2-2'}}%)
                        </h4>
                    </ng-container>
                </app-summary-panel>
            </div>
        </div>
    </div>
    <div *ngSwitchCase = "'india-today'">
        <div class="row">                    
            <div class="col-md-4">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Active</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.newCase?.confirmed }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
            <div class="col-md-4">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Deceased</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.newCase.deceased }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
            <div class="col-md-4">
                <app-summary-panel>
                    <ng-container class="heading">
                        <h3 class="text-center">Recovered</h3>
                    </ng-container>
                    <ng-container class="body">
                        <h4 class="text-center">{{ nationStatus?.newCase.recovered }}</h4>
                    </ng-container>
                </app-summary-panel>
            </div>
        </div>
    </div>
</div>         -->
<hr>

<ul class="nav nav-tabs">
    <li 
        class="nav-item">
        <a 
            href ="javascript:void(0);" 
            class="nav-link" 
            [class.active] = "consolidatedViewMode == 'total'"
            (click) = "changeMainDayMode('total')">
            <b><h3>Total</h3></b> 
        </a>
    </li>
    <li 
        class="nav-item">
        <a 
            href ="javascript:void(0);" 
            class="nav-link" 
            [class.active] = "consolidatedViewMode == 'today'"
            (click) = "changeMainDayMode('today')">
            <b><h3>Today</h3></b>
        </a>
    </li>
</ul>
<div [ngSwitch] ="consolidatedViewMode">
    <div *ngSwitchCase = "'total'">
        <ag-grid-angular 
            style="width: 100%; height: 500px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [enableFilter]="true"
            [pagination]="true"
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
        <!-- <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="colgroup" class="text-center">#</th>
                    <th scope="col" class="text-center">State</th>
                    <th scope="col" class="text-center">Total Confirmed</th>
                    <th scope="col" class="text-center">Active</th>
                    <th scope="col" class="text-center">Deceased</th>
                    <th scope="col" class="text-center">Recovered</th>
                    <th scope="col" class="text-center">Recovery Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let state of nationStatus?.states; let i = index">
                    <th class="text-center" scope="row">{{ i + 1}}</th>
                    <td>{{ state.stateName }}</td>
                    <td class="text-center">{{ state.status.total }}</td>
                    <td class="text-center">{{ state.status.active }}</td>
                    <td 
                        class="text-center"
                        [ngStyle] = "{'color' : state.status.deceased > 0 ? 'red' : 'black', 'font-weight' : state.status.deceased > 0 ? 'bold' : 'normal' }">
                        {{ state.status.deceased }}
                    </td>
                    <td class="text-center" [ngStyle] = "{'color' : state.status.recovered > 0 ? 'green' : 'black', 'font-weight' : 'bold' }">{{ state.status.recovered }}</td>
                    
                    <td class="text-center">{{ (state.status.recovered / state.status.total) * 100 | number : '1.2-2' }}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
    <div *ngSwitchCase = "'today'"> 
        <ag-grid-angular 
            style="width: 100%; height: 500px;" 
            class="ag-theme-balham"
            [enableSorting]="true"
            [enableFilter]="true"
            [pagination]="true"
            [rowData]="rowData1" 
            [columnDefs]="columnTodayDefs"
            (gridReady)="onTodayGridReady($event)">
        </ag-grid-angular>
        <!-- <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="colgroup" class="text-center">#</th>
                    <th scope="col" class="text-center">State</th>
                    <th scope="col" class="text-center">Confirmed</th>
                    <th scope="col" class="text-center">Deceased</th>
                    <th scope="col" class="text-center">Recovered</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let state of nationStatus?.states; let i = index">
                    <th class="text-center" scope="row">{{ i + 1}}</th>
                    <td>{{ state.stateName }}</td>
                    <td class="text-center">{{ state.newStatus.total }}</td>
                    <td 
                        class="text-center"
                        [ngStyle] = "{'color' : state.newStatus.deceased > 0 ? 'red' : 'black', 'font-weight' : state.newStatus.deceased > 0 ? 'bold' : 'normal' }">
                        {{ state.newStatus.deceased }}
                    </td>
                    <td class="text-center" [ngStyle] = "{'color' : state.newStatus.recovered > 0 ? 'green' : 'black', 'font-weight' : 'bold' }">{{ state.newStatus.recovered }}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>